<p>
  <strong>FunctionBin</strong> is a repository for JavaScript functions. Think of it as a package
  manager&mdash;like NPM or Bower&mdash;but just for <em>functions</em> rather than libraries or
  components. For more on the motivation behind this project, see my post
  <%= link_to('Functions over (JavaScript) libraries', 'http://danieltao.com/ideas/functions-over-libraries') %>.
</p>
<p>
  You can <%= link_to('propose a function', new_function_path) %>, or take a stab at implementing
  <%= link_to("a function that's already been proposed", functions_path) %>.
</p>
