<footer>
  <p>
    FunctionBin uses
    <%= link_to('Rails', 'http://rubyonrails.org/') %>,
    <%= link_to('CodeMirror', 'http://codemirror.net/') %>, and
    <%= link_to('Highcharts', 'http://www.highcharts.com/') %>.
  </p>
  <p><%= link_to('Source on GitHub', 'https://github.com/dtao/functionbin') %></p>
</footer>
