<p><%= action_link('Log in with GitHub', "/auth/github") %></p>

<p>
  Want to log in differently? Like with <%= link_to('LiveJournal', 'http://www.livejournal.com/') %>,
  perhaps? <%= link_to('Let me know!', 'https://github.com/dtao/functionbin/issues') %>
</p>
