@import "lib/bootstrap";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;

  ul {
    @extend .nav, .nav-stacked;
  }
}

main {
  @extend .container;

  border-left: 12px solid black;
  min-height: 100%;
}

header {
  @extend .page-header;

  p {
    @extend .lead;
  }

  img {
    vertical-align: bottom;
  }
}

table {
  @extend .table;
}

form .field {
  @extend .form-group;
}

input[type="text"], textarea {
  @extend .form-control;
}

input[type="submit"] {
  @extend .btn, .btn-lg, .btn-primary;
}

a.upvote {
  @extend .btn, .btn-xs, .btn-success;
}

a.action {
  @extend .btn, .btn-sm, .btn-info;
}

#notice {
  @extend .alert, .alert-warning;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  // Undo Bootstrap's margin from .alert
  margin-bottom: 0;

  // Ensure notice is placed over CodeMirror editors
  z-index: 10;
}

.CodeMirror {
  @extend .form-control;

  height: auto;
  padding: 0;
  margin-bottom: 15px;
}

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hide;
}

.CodeMirror:not(.readonly), .CodeMirror-scroll:not(.readonly) {
  min-height: 200px;
}

.CodeMirror-focused {
  @extend .form-control:focus;
}

.CodeMirror-empty {
  color: #ccc;
}

.two-column {
  @extend .row;

  & > * {
    @extend .col-lg-6;
  }
}

.popular-implementations {
  height: 200px;
}

.implementation {
  img {
    vertical-align: bottom;
  }
}

.comment {
  @extend .well, .well-sm;

  img {
    vertical-align: bottom;
  }
}

[data-page="users-index"] td {
  vertical-align: middle;
}
