<form id="create-function-form">
  <fieldset>
    <legend>Create a function</legend>

    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" />
    </div>

    <div class="field">
      <label for="code">Code</label>
      <textarea name="code"></textarea>
    </div>

    <div class="field">
      <label for="comments">Comments</label>
      <textarea name="comments"></textarea>
    </div>

    <div class="actions">
      <input type="submit" value="Create" />
    </div>
  </fieldset>
</form>
