<p>This is my third attempt at something like this.</p>

<p>
    The basic idea is something I
    <a href="http://danieltao.com/ideas/functions-over-libraries">wrote about a while
    back</a>.
</p>

<p>This time around I came up with an interesting idea: using GitHub as a back-end.</p>

<p>Stay tuned...</p
