= form_tag('/login') do
  %fieldset
    %legend Log In
    .form-group
      = text_field_tag(:email, :class => 'form-control', :placeholder => 'Enter your e-mail address')
    .form-group
      = submit_tag('Log In', :class => 'btn btn-primary')
